openapi: 3.0.0
info:
  title: Genesis AI API
  version: 1.0.0
  description: |
    REST API for Genesis AI - Universal Personal AI Assistant
    
    ## Authentication
    All endpoints require Bearer token authentication:
    ```
    Authorization: Bearer YOUR_TOKEN
    ```
    
    Obtain token via `/auth/login` endpoint.

servers:
  - url: https://api.genesisai.io
    description: Production
  - url: http://localhost:3000
    description: Local Development

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Workflow:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        definition:
          type: object
        status:
          type: string
          enum: [active, paused, disabled]
        createdAt:
          type: string
          format: date-time

    WorkflowExecution:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workflowId:
          type: string
        status:
          type: string
          enum: [pending, running, completed, failed]
        result:
          type: object
        startedAt:
          type: string
          format: date-time

    MCPServer:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        tools:
          type: array
          items:
            type: object
        status:
          type: string

security:
  - bearerAuth: []

paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  user:
                    type: object

  /workflows:
    get:
      tags:
        - Workflows
      summary: List workflows
      responses:
        '200':
          description: List of workflows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workflow'

    post:
      tags:
        - Workflows
      summary: Create workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                definition:
                  type: object
              required:
                - name
                - definition
      responses:
        '201':
          description: Workflow created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'

  /workflows/{id}:
    get:
      tags:
        - Workflows
      summary: Get workflow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Workflow details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'

    put:
      tags:
        - Workflows
      summary: Update workflow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Workflow updated

    delete:
      tags:
        - Workflows
      summary: Delete workflow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Workflow deleted

  /workflows/{id}/execute:
    post:
      tags:
        - Workflows
      summary: Execute workflow
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
      responses:
        '200':
          description: Execution started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowExecution'

  /marketplace/mcps:
    get:
      tags:
        - Marketplace
      summary: List MCPs
      parameters:
        - name: category
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of MCPs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MCPServer'
